.inbox{
    background-color: rgba(10, 52, 219, 0.434);
    min-height: 250px;
    margin: 15px 0px;
    padding: 15px;
}

.sec2{
    background-color: rgb(15, 3, 146);

}
.sec3{
    background-color: aquamarine;
}

.inner-box{
    background-color: rgb(217, 6, 122);
    margin: 15px 0px;
    min-height: 200px;
    padding: 15px;

}